# Entorno virtual
venv/
env/
.venv/

# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
